<template>
  <b-container>
    <b-row>
      <b-col>
        <img
          :src="page.Images.Primary.Large.URL"
          :width="page.Images.Primary.Large.Width"
          :height="page.Images.Primary.Large.Height"
        />
      </b-col>
      <b-col>
        <h3>{{ page.ItemInfo.Title.DisplayValue }}</h3>
        <small>Von {{ page.ItemInfo.ByLineInfo.Brand.DisplayValue }}</small>
        <ul>
          <li>Preis: {{ page.Offers.Listings[0].Price.DisplayAmount }}</li>
          <li>{{ page.Offers.Listings[0].Availability.Message }}</li>
          <li>Farbe: {{ page.ItemInfo.ProductInfo.Color.DisplayValue }}</li>
          <li>Größe: {{ page.ItemInfo.ProductInfo.Size.DisplayValue }}</li>
        </ul>
        <h5>Features</h5>
        <ul>
          <li v-for="feature in page.ItemInfo.Features.DisplayValues" v-bind:key="feature">
            {{ feature }}
          </li>
        </ul>
    <b-button size="lg" variant="primary">Jetzt kaufen!</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      page: {}
    };
  },

  created() {
    const pageId = this.$router.currentRoute.params.id;
    const page = this.$store.getters.getPage(pageId);

    this.page = page;
    console.log("page ", page);
  }
};
</script>
