<template>
  <b-container fluid>
    <b-table :items="pages" :fields="fields" head-variant="light">
      <template v-slot:cell(actions)="row">
        <b-button size="sm" @click="info(row.item, row.index, $event.target)">Informationen</b-button>
        <b-button
          size="sm"
          @click="row.toggleDetails"
        >Statistik {{ row.detailsShowing ? 'schließen' : 'öffnen' }}</b-button>
        <b-button size="sm" :to="'/pages/' + row.item._id" target="_blank">Vorschau</b-button>
        <b-button
          size="sm"
          variant="danger"
          @click="removePage(row.item, row.index, $event.target)"
        >Löschen</b-button>
      </template>

      <template v-slot:row-details="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
          </ul>
        </b-card>
      </template>
    </b-table>
    <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
      <pre>{{ infoModal.content }}</pre>
    </b-modal>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      fields: [
        {
          key: "ItemInfo.Title.DisplayValue",
          label: "Produkt",
          class: 'fixed_column'
        },
        {
          key: "actions",
          label: "Actions"
        }
      ],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    pages() {
      let pages = this.$store.getters.getPages;
      console.log("pages", pages);
      return pages;
    }
  },
  methods: {
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },

    removePage(pageData, index, button) {
      this.$store
        .dispatch("removePage", pageData)
        .then(() => {
          this.$router.push({
            path: "/admin/pages"
          });
        })
        .catch(console.error);
    }
  }
};
</script>

<style scoped>
.fixed_column {
  width: 200px !important;
}
</style>
