<template>
  <b-container fluid>
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="input-group-asin" label="Asin:" label-for="asin">
        <b-form-input
          id="asin"
          v-model="form.asin"
          placeholder="Enter Asin"
        ></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </b-container>
</template>

<script>
import { createPage } from "@/api/pages";

function getFormDefaultValues() {
  return {
    email: "tobias.oberrauch@gmx.de",
    name: "Tobias Oberrauch",
    asin: "B07ZJH7CGM"
  };
}

export default {
  data() {
    return {
      form: getFormDefaultValues()
    };
  },

  methods: {
    onSubmit(event) {
      event.preventDefault();

      this.$store
        .dispatch("addPage", this.form)
        .then(() => {
          this.$router.push({
            path: "/admin/pages"
          });
        })
        .catch(console.error);
    },
    onReset(event) {
      this.form = getFormDefaultValues();
    }
  }
};
</script>
