<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark" fixed="top">
      <b-navbar-brand to="/admin">ImproveASIN</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse" />

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/admin/pages">Pages</b-nav-item>
        </b-navbar-nav>

        <b-button variant="primary" to="/admin/pages/new">Create page</b-button>

        <b-navbar-nav class="ml-auto">
          <!--
          <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Search" />
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
          </b-nav-form>
          -->
          <b-nav-item-dropdown right size="lg" no-caret>
            <template slot="button-content">
              &#x1F471;
              <span class="sr-only">User</span>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown right size="lg" no-caret>
            <template v-slot:button-content>
              &#x2753;
              <span class="sr-only">Search</span>
            </template>
            <b-dropdown-item>
              <b-form>
                <b-form-group>
                  <b-form-input />
                </b-form-group>
              </b-form>
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <div class="content-container">
      <nuxt-child />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.content-container {
  padding-top: 74px;
}
</style>
