<template>
  <div id="app">
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="input-group-email" label="Email address:" label-for="input-email">
        <b-form-input
          id="input-email"
          v-model="form.email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-name" label="Your Name:" label-for="name">
        <b-form-input id="name" v-model="form.name" required placeholder="Enter name"></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-asin" label="Asin:" label-for="asin">
        <b-form-input id="asin" v-model="form.asin" required placeholder="Enter Asin"></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ result }}</pre>
    </b-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "tobias.oberrauch@gmx.de",
        name: "Tobias Oberrauch",
        asin: "B077WHNR1L",
        source: "asin"
      },
      result: {}
    };
  },

  methods: {
    onSubmit(event) {
      event.preventDefault();

      this.$store
        .dispatch("addPage", this.form)
        .then(page => {
          this.$router.push({
            path: "/pages/" + page._id
          });
        })
        .catch(console.error);
    },
    onReset(event) {
      event.preventDefault();

      this.form = {
        email: "",
        name: "",
        asin: "",
        source: "asin"
      };
    }
  }
};
</script>
