<template>
  <div>
    <h1>PageList</h1>
    <section class="page-list">
      <ul>
        <li v-for="page of pages" :key="page.id">{{ page.title }}</li>
      </ul>
    </section>
  </div>
</template>

<script>
export default {
  props: {
    pages: {
      type: Array,
      required: true
    }
  }
}
</script>
